USE [master]
GO
/****** Object:  Database [ProductTraceability]    Script Date: 11/18/2025 3:44:35 PM ******/
CREATE DATABASE [ProductTraceability]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductTraceability', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProductTraceability.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductTraceability_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProductTraceability_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductTraceability].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductTraceability]
GO
/****** Object:  UserDefinedTableType [dbo].[IdList]    Script Date: 11/18/2025 3:44:35 PM ******/
CREATE TYPE [dbo].[IdList] AS TABLE(
	[Id] [uniqueidentifier] NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[TinhSaoSanPham]    Script Date: 11/18/2025 3:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[TinhSaoSanPham]
(
	@SP_Id uniqueidentifier
)
returns float
as

begin
	declare @SoSaoTrungBinh FLOAT;

	select @SoSaoTrungBinh = AVG(CAST(SSP_SoSao as FLOAT)) 
	from [tblSaoSanPham] where SSP_SP_Id = @SP_Id;

	return ISNULL(@SoSaoTrungBinh, 0)

end;

GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/18/2025 3:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRefreshTokens]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRefreshTokens](
	[Id] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](500) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ExpireTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__RefreshT__3214EC07F567A4FA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__RefreshT__1EB4F81771FD8901] UNIQUE NONCLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[NormalizedUserName] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](500) NOT NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Name] [nvarchar](500) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__AspNetUs__85FB4E38C7378B1F] UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [uniqueidentifier] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBaiViet]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBaiViet](
	[BV_Id] [uniqueidentifier] NOT NULL,
	[BV_NoiDung] [nvarchar](max) NOT NULL,
	[BV_SP_Id] [uniqueidentifier] NULL,
	[BV_NguoiTao_Id] [uniqueidentifier] NOT NULL,
	[BV_NgayTao] [datetime2](7) NULL,
	[BV_NgaySua] [datetime2](7) NULL,
	[BV_TieuDe] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__tblBaiVi__DF489DE7B59238AE] PRIMARY KEY CLUSTERED 
(
	[BV_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBinhLuan]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBinhLuan](
	[BL_Id] [uniqueidentifier] NOT NULL,
	[BL_NoiDung] [nvarchar](1000) NOT NULL,
	[BL_NguoiTao_Id] [uniqueidentifier] NOT NULL,
	[BL_NgayTao] [datetime2](7) NULL,
	[BL_SP_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_tblBinhLuan] PRIMARY KEY CLUSTERED 
(
	[BL_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChuDoanhNghiep]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChuDoanhNghiep](
	[CDN_Id] [uniqueidentifier] NOT NULL,
	[CDN_DN_Id] [uniqueidentifier] NOT NULL,
	[CDN_ChuDN_Id] [uniqueidentifier] NOT NULL,
	[CDN_NgayTao] [datetime2](7) NOT NULL,
	[CDN_NguoiTao_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tblChuDoanhNghiep] PRIMARY KEY CLUSTERED 
(
	[CDN_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDanhMuc]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDanhMuc](
	[DM_Id] [uniqueidentifier] NOT NULL,
	[DM_Ten] [nvarchar](500) NOT NULL,
	[DM_MoTa] [nvarchar](max) NULL,
	[DM_NgayTao] [datetime2](7) NOT NULL,
	[DM_NguoiTao_Id] [uniqueidentifier] NULL,
	[DM_NgaySua] [datetime2](7) NULL,
	[DM_NguoiSua_Id] [uniqueidentifier] NULL,
	[DM_DMCha_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tblDanhMuc] PRIMARY KEY CLUSTERED 
(
	[DM_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__tblDanhM__B3671050D88B1BB7] UNIQUE NONCLUSTERED 
(
	[DM_Ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDoanhNghiep]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDoanhNghiep](
	[DN_Id] [uniqueidentifier] NOT NULL,
	[DN_Ten] [nvarchar](255) NOT NULL,
	[DN_MaSoThue] [varchar](255) NOT NULL,
	[DN_MaGLN] [varchar](13) NULL,
	[DN_DiaChi] [nvarchar](500) NULL,
	[DN_SoDienThoai] [varchar](255) NULL,
	[DN_Email] [varchar](255) NULL,
	[DN_KieuDN] [int] NOT NULL,
	[DN_NgayTao] [datetime2](7) NOT NULL,
	[DN_NguoiTao_Id] [uniqueidentifier] NULL,
	[DN_NgaySua] [datetime2](7) NULL,
	[DN_NguoiSua_Id] [uniqueidentifier] NULL,
	[DN_JsonData] [nvarchar](max) NULL,
	[DN_MaGS1] [varchar](7) NULL,
 CONSTRAINT [PK_tblDoanhNghiep] PRIMARY KEY CLUSTERED 
(
	[DN_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFiles]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFiles](
	[F_Id] [uniqueidentifier] NOT NULL,
	[F_Ten] [nvarchar](255) NOT NULL,
	[F_KieuFile] [nvarchar](50) NOT NULL,
	[F_KichThuoc] [bigint] NULL,
	[F_KieuTaiNguyen] [nvarchar](50) NOT NULL,
	[F_TaiNguyen_Id] [uniqueidentifier] NOT NULL,
	[F_NguoiTao_Id] [uniqueidentifier] NULL,
	[F_NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_tblFiles] PRIMARY KEY CLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLoSanPham]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoSanPham](
	[LSP_Id] [uniqueidentifier] NOT NULL,
	[LSP_SP_Id] [uniqueidentifier] NOT NULL,
	[LSP_Ten] [nvarchar](450) NULL,
	[LSP_MaLSP] [varchar](500) NOT NULL,
	[LSP_NgaySanXuat] [datetime2](7) NULL,
	[LSP_NgayHetHan] [datetime2](7) NULL,
	[LSP_SoLuong] [int] NULL,
	[LSP_MoTa] [nvarchar](1000) NULL,
	[LSP_NM_Id] [uniqueidentifier] NULL,
	[LSP_NguoiTao_Id] [uniqueidentifier] NULL,
	[LSP_NgayTao] [datetime2](7) NOT NULL,
	[LSP_NgaySua] [datetime2](7) NULL,
	[LSP_NguoiSua_Id] [uniqueidentifier] NULL,
	[LSP_JsonData] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblLoSanPham] PRIMARY KEY CLUSTERED 
(
	[LSP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhaMay]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhaMay](
	[NM_Id] [uniqueidentifier] NOT NULL,
	[NM_Ten] [nvarchar](500) NOT NULL,
	[NM_DiaChi] [nvarchar](500) NULL,
	[NM_SoDienThoai] [varchar](100) NULL,
	[NM_Email] [varchar](255) NULL,
	[NM_DN_Id] [uniqueidentifier] NULL,
	[NM_MaNM] [varchar](255) NOT NULL,
	[NM_NguoiTao_Id] [uniqueidentifier] NULL,
	[NM_NgayTao] [datetime2](7) NOT NULL,
	[NM_NguoiSua_Id] [uniqueidentifier] NULL,
	[NM_NgaySua] [datetime2](7) NULL,
	[NM_JsonData] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblNhaMay] PRIMARY KEY CLUSTERED 
(
	[NM_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSanPham]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSanPham](
	[SP_Id] [uniqueidentifier] NOT NULL,
	[SP_Ten] [nvarchar](500) NOT NULL,
	[SP_MoTa] [nvarchar](max) NULL,
	[SP_MaTruyXuat] [varchar](500) NOT NULL,
	[SP_MaVach] [varchar](255) NULL,
	[SP_Website] [nvarchar](1000) NULL,
	[SP_Gia] [decimal](18, 2) NULL,
	[SP_NgayTao] [datetime2](7) NOT NULL,
	[SP_NguoiTao_Id] [uniqueidentifier] NULL,
	[SP_NgaySua] [datetime2](7) NULL,
	[SP_NguoiSua_Id] [uniqueidentifier] NULL,
	[SP_DM_Id] [uniqueidentifier] NULL,
	[SP_DN_SoHuu_Id] [uniqueidentifier] NOT NULL,
	[SP_NM_Id] [uniqueidentifier] NULL,
	[SP_DN_SanXuat_Id] [uniqueidentifier] NULL,
	[SP_DN_VanTai_Id] [uniqueidentifier] NULL,
	[SP_JsonData] [nvarchar](max) NULL,
	[SP_MaQuocGia] [char](2) NOT NULL,
	[SP_HangSanXuat] [nvarchar](500) NULL,
	[SP_Verified] [bit] NOT NULL,
 CONSTRAINT [PK_tblSanPham] PRIMARY KEY CLUSTERED 
(
	[SP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSaoSanPham]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSaoSanPham](
	[SSP_Id] [uniqueidentifier] NOT NULL,
	[SSP_NguoiTao_Id] [uniqueidentifier] NOT NULL,
	[SSP_SP_Id] [uniqueidentifier] NOT NULL,
	[SSP_SoSao] [int] NOT NULL,
	[SSP_NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__tblSaoSa__D85BFEAFF0A6E46D] PRIMARY KEY CLUSTERED 
(
	[SSP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__tblSaoSa__115390C4EC098584] UNIQUE NONCLUSTERED 
(
	[SSP_NguoiTao_Id] ASC,
	[SSP_SP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSuKienTruyXuat]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSuKienTruyXuat](
	[SK_id] [uniqueidentifier] NOT NULL,
	[SK_SP_Id] [uniqueidentifier] NOT NULL,
	[SK_LSP_Id] [uniqueidentifier] NULL,
	[SK_MaSK] [varchar](500) NOT NULL,
	[SK_Ten] [nvarchar](500) NOT NULL,
	[SK_MoTa] [nvarchar](4000) NULL,
	[SK_DiaDiem] [nvarchar](500) NULL,
	[SK_ThoiGian] [datetime2](7) NOT NULL,
	[SK_NguoiTao_Id] [uniqueidentifier] NULL,
	[SK_NgayTao] [datetime2](7) NOT NULL,
	[SK_NgaySua] [datetime2](7) NULL,
	[SK_NguoiSua_Id] [uniqueidentifier] NULL,
	[SK_JsonData] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblSuKienTruyXuat] PRIMARY KEY CLUSTERED 
(
	[SK_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTheoDoiDoanhNghiep]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTheoDoiDoanhNghiep](
	[TDDN_Id] [uniqueidentifier] NOT NULL,
	[TDDN_NguoiTheoDoi_Id] [uniqueidentifier] NOT NULL,
	[TDDN_DN_Id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TDDN_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TDDN_NguoiTheoDoi_Id] ASC,
	[TDDN_DN_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTheoDoiUser]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTheoDoiUser](
	[TDU_Id] [uniqueidentifier] NOT NULL,
	[TDU_UserTheoDoi_Id] [uniqueidentifier] NOT NULL,
	[TDU_UserDuocTheoDoi_Id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TDU_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TDU_UserTheoDoi_Id] ASC,
	[TDU_UserDuocTheoDoi_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 11/18/2025 3:44:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11/18/2025 3:44:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 11/18/2025 3:44:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 11/18/2025 3:44:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 11/18/2025 3:44:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 11/18/2025 3:44:36 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/18/2025 3:44:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBaiViet] ADD  CONSTRAINT [DF__tblBaiVie__BV_Ng__05F8DC4F]  DEFAULT (getdate()) FOR [BV_NgayTao]
GO
ALTER TABLE [dbo].[tblBinhLuan] ADD  DEFAULT (getdate()) FOR [BL_NgayTao]
GO
ALTER TABLE [dbo].[tblChuDoanhNghiep] ADD  DEFAULT (getdate()) FOR [CDN_NgayTao]
GO
ALTER TABLE [dbo].[tblDanhMuc] ADD  CONSTRAINT [DF__tblDanhMu__DM_Ng__0AF29B96]  DEFAULT (getdate()) FOR [DM_NgayTao]
GO
ALTER TABLE [dbo].[tblDoanhNghiep] ADD  CONSTRAINT [DF__tblDoanhN__DN_Ng__0BE6BFCF]  DEFAULT (getdate()) FOR [DN_NgayTao]
GO
ALTER TABLE [dbo].[tblFiles] ADD  CONSTRAINT [DF__tblFiles__F_Ngay__0CDAE408]  DEFAULT (getdate()) FOR [F_NgayTao]
GO
ALTER TABLE [dbo].[tblLoSanPham] ADD  CONSTRAINT [DF__tblLoSanP__LSP_N__0DCF0841]  DEFAULT (getdate()) FOR [LSP_NgayTao]
GO
ALTER TABLE [dbo].[tblNhaMay] ADD  CONSTRAINT [DF__tblNhaMay__NM_Ng__0EC32C7A]  DEFAULT (getdate()) FOR [NM_NgayTao]
GO
ALTER TABLE [dbo].[tblSanPham] ADD  CONSTRAINT [DF__tblSanPha__SP_Ng__0FB750B3]  DEFAULT (getdate()) FOR [SP_NgayTao]
GO
ALTER TABLE [dbo].[tblSanPham] ADD  CONSTRAINT [DF__tblSanPha__SP_Ma__119F9925]  DEFAULT ('VN') FOR [SP_MaQuocGia]
GO
ALTER TABLE [dbo].[tblSaoSanPham] ADD  CONSTRAINT [df_NgayTao]  DEFAULT (getdate()) FOR [SSP_NgayTao]
GO
ALTER TABLE [dbo].[tblSuKienTruyXuat] ADD  CONSTRAINT [DF__tblSuKien__SK_Ng__10AB74EC]  DEFAULT (getdate()) FOR [SK_NgayTao]
GO
ALTER TABLE [dbo].[AspNetRefreshTokens]  WITH CHECK ADD  CONSTRAINT [RefreshToken_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRefreshTokens] CHECK CONSTRAINT [RefreshToken_User]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[tblBaiViet]  WITH CHECK ADD  CONSTRAINT [FK_BV_SP] FOREIGN KEY([BV_SP_Id])
REFERENCES [dbo].[tblSanPham] ([SP_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblBaiViet] CHECK CONSTRAINT [FK_BV_SP]
GO
ALTER TABLE [dbo].[tblBaiViet]  WITH CHECK ADD  CONSTRAINT [FK_BV_User] FOREIGN KEY([BV_NguoiTao_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblBaiViet] CHECK CONSTRAINT [FK_BV_User]
GO
ALTER TABLE [dbo].[tblBinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BL_NguoiTao] FOREIGN KEY([BL_NguoiTao_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblBinhLuan] CHECK CONSTRAINT [FK_BL_NguoiTao]
GO
ALTER TABLE [dbo].[tblBinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BL_SP] FOREIGN KEY([BL_SP_Id])
REFERENCES [dbo].[tblSanPham] ([SP_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblBinhLuan] CHECK CONSTRAINT [FK_BL_SP]
GO
ALTER TABLE [dbo].[tblChuDoanhNghiep]  WITH CHECK ADD  CONSTRAINT [FK_CDN_ChuDN] FOREIGN KEY([CDN_ChuDN_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChuDoanhNghiep] CHECK CONSTRAINT [FK_CDN_ChuDN]
GO
ALTER TABLE [dbo].[tblChuDoanhNghiep]  WITH CHECK ADD  CONSTRAINT [FK_CDN_DN] FOREIGN KEY([CDN_DN_Id])
REFERENCES [dbo].[tblDoanhNghiep] ([DN_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChuDoanhNghiep] CHECK CONSTRAINT [FK_CDN_DN]
GO
ALTER TABLE [dbo].[tblChuDoanhNghiep]  WITH CHECK ADD  CONSTRAINT [FK_CNN_NguoiTao] FOREIGN KEY([CDN_NguoiTao_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tblChuDoanhNghiep] CHECK CONSTRAINT [FK_CNN_NguoiTao]
GO
ALTER TABLE [dbo].[tblDanhMuc]  WITH CHECK ADD  CONSTRAINT [FK_DM_NguoiSua] FOREIGN KEY([DM_NguoiSua_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblDanhMuc] CHECK CONSTRAINT [FK_DM_NguoiSua]
GO
ALTER TABLE [dbo].[tblDanhMuc]  WITH CHECK ADD  CONSTRAINT [FK_DM_NguoiTao] FOREIGN KEY([DM_NguoiTao_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tblDanhMuc] CHECK CONSTRAINT [FK_DM_NguoiTao]
GO
ALTER TABLE [dbo].[tblDoanhNghiep]  WITH CHECK ADD  CONSTRAINT [FK_DN_NguoiSua] FOREIGN KEY([DN_NguoiSua_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblDoanhNghiep] CHECK CONSTRAINT [FK_DN_NguoiSua]
GO
ALTER TABLE [dbo].[tblDoanhNghiep]  WITH CHECK ADD  CONSTRAINT [FK_DN_NguoiTao] FOREIGN KEY([DN_NguoiTao_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tblDoanhNghiep] CHECK CONSTRAINT [FK_DN_NguoiTao]
GO
ALTER TABLE [dbo].[tblFiles]  WITH CHECK ADD  CONSTRAINT [FK_F_NguoiTao] FOREIGN KEY([F_NguoiTao_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblFiles] CHECK CONSTRAINT [FK_F_NguoiTao]
GO
ALTER TABLE [dbo].[tblNhaMay]  WITH CHECK ADD  CONSTRAINT [FK_NM_DN] FOREIGN KEY([NM_DN_Id])
REFERENCES [dbo].[tblDoanhNghiep] ([DN_Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblNhaMay] CHECK CONSTRAINT [FK_NM_DN]
GO
ALTER TABLE [dbo].[tblNhaMay]  WITH CHECK ADD  CONSTRAINT [FK_NM_NguoiSua] FOREIGN KEY([NM_NguoiSua_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblNhaMay] CHECK CONSTRAINT [FK_NM_NguoiSua]
GO
ALTER TABLE [dbo].[tblNhaMay]  WITH CHECK ADD  CONSTRAINT [FK_NM_NguoiTao] FOREIGN KEY([NM_NguoiTao_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tblNhaMay] CHECK CONSTRAINT [FK_NM_NguoiTao]
GO
ALTER TABLE [dbo].[tblSanPham]  WITH CHECK ADD  CONSTRAINT [FK_SP_DM] FOREIGN KEY([SP_DM_Id])
REFERENCES [dbo].[tblDanhMuc] ([DM_Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblSanPham] CHECK CONSTRAINT [FK_SP_DM]
GO
ALTER TABLE [dbo].[tblSanPham]  WITH CHECK ADD  CONSTRAINT [FK_SP_DN_SanXuat] FOREIGN KEY([SP_DN_SanXuat_Id])
REFERENCES [dbo].[tblDoanhNghiep] ([DN_Id])
GO
ALTER TABLE [dbo].[tblSanPham] CHECK CONSTRAINT [FK_SP_DN_SanXuat]
GO
ALTER TABLE [dbo].[tblSanPham]  WITH CHECK ADD  CONSTRAINT [FK_SP_DN_SoHuu] FOREIGN KEY([SP_DN_SoHuu_Id])
REFERENCES [dbo].[tblDoanhNghiep] ([DN_Id])
GO
ALTER TABLE [dbo].[tblSanPham] CHECK CONSTRAINT [FK_SP_DN_SoHuu]
GO
ALTER TABLE [dbo].[tblSanPham]  WITH CHECK ADD  CONSTRAINT [FK_SP_DN_VanTai] FOREIGN KEY([SP_DN_VanTai_Id])
REFERENCES [dbo].[tblDoanhNghiep] ([DN_Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblSanPham] CHECK CONSTRAINT [FK_SP_DN_VanTai]
GO
ALTER TABLE [dbo].[tblSanPham]  WITH CHECK ADD  CONSTRAINT [FK_SP_NM] FOREIGN KEY([SP_NM_Id])
REFERENCES [dbo].[tblNhaMay] ([NM_Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblSanPham] CHECK CONSTRAINT [FK_SP_NM]
GO
ALTER TABLE [dbo].[tblSanPham]  WITH CHECK ADD  CONSTRAINT [FK_SP_User_NguoiSua] FOREIGN KEY([SP_NguoiSua_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblSanPham] CHECK CONSTRAINT [FK_SP_User_NguoiSua]
GO
ALTER TABLE [dbo].[tblSanPham]  WITH CHECK ADD  CONSTRAINT [FK_SP_User_NguoiTao] FOREIGN KEY([SP_NguoiTao_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tblSanPham] CHECK CONSTRAINT [FK_SP_User_NguoiTao]
GO
ALTER TABLE [dbo].[tblSaoSanPham]  WITH CHECK ADD  CONSTRAINT [FK_SSP_NguoiTao] FOREIGN KEY([SSP_NguoiTao_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblSaoSanPham] CHECK CONSTRAINT [FK_SSP_NguoiTao]
GO
ALTER TABLE [dbo].[tblSaoSanPham]  WITH CHECK ADD  CONSTRAINT [FK_SSP_SP] FOREIGN KEY([SSP_SP_Id])
REFERENCES [dbo].[tblSanPham] ([SP_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblSaoSanPham] CHECK CONSTRAINT [FK_SSP_SP]
GO
ALTER TABLE [dbo].[tblSuKienTruyXuat]  WITH CHECK ADD  CONSTRAINT [FK_SK_LSP] FOREIGN KEY([SK_LSP_Id])
REFERENCES [dbo].[tblLoSanPham] ([LSP_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblSuKienTruyXuat] CHECK CONSTRAINT [FK_SK_LSP]
GO
ALTER TABLE [dbo].[tblSuKienTruyXuat]  WITH CHECK ADD  CONSTRAINT [FK_SK_NguoiSua] FOREIGN KEY([SK_NguoiSua_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblSuKienTruyXuat] CHECK CONSTRAINT [FK_SK_NguoiSua]
GO
ALTER TABLE [dbo].[tblSuKienTruyXuat]  WITH CHECK ADD  CONSTRAINT [FK_SK_NguoiTao] FOREIGN KEY([SK_NguoiTao_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tblSuKienTruyXuat] CHECK CONSTRAINT [FK_SK_NguoiTao]
GO
ALTER TABLE [dbo].[tblSuKienTruyXuat]  WITH CHECK ADD  CONSTRAINT [FK_SK_SP] FOREIGN KEY([SK_SP_Id])
REFERENCES [dbo].[tblSanPham] ([SP_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblSuKienTruyXuat] CHECK CONSTRAINT [FK_SK_SP]
GO
ALTER TABLE [dbo].[tblTheoDoiDoanhNghiep]  WITH CHECK ADD  CONSTRAINT [FK_TDDN_DN] FOREIGN KEY([TDDN_DN_Id])
REFERENCES [dbo].[tblDoanhNghiep] ([DN_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblTheoDoiDoanhNghiep] CHECK CONSTRAINT [FK_TDDN_DN]
GO
ALTER TABLE [dbo].[tblTheoDoiDoanhNghiep]  WITH CHECK ADD  CONSTRAINT [FK_TDDN_User_NguoiTheoDoi] FOREIGN KEY([TDDN_NguoiTheoDoi_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblTheoDoiDoanhNghiep] CHECK CONSTRAINT [FK_TDDN_User_NguoiTheoDoi]
GO
ALTER TABLE [dbo].[tblTheoDoiUser]  WITH CHECK ADD  CONSTRAINT [FK_TheoDoiUser_User_UserDuocTheoDoi] FOREIGN KEY([TDU_UserDuocTheoDoi_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tblTheoDoiUser] CHECK CONSTRAINT [FK_TheoDoiUser_User_UserDuocTheoDoi]
GO
ALTER TABLE [dbo].[tblTheoDoiUser]  WITH CHECK ADD  CONSTRAINT [FK_TheoDoiUser_User_UserTheoDoi] FOREIGN KEY([TDU_UserTheoDoi_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblTheoDoiUser] CHECK CONSTRAINT [FK_TheoDoiUser_User_UserTheoDoi]
GO
ALTER TABLE [dbo].[tblSaoSanPham]  WITH CHECK ADD  CONSTRAINT [CK__tblSaoSan__SSP_S__5090EFD7] CHECK  (([SSP_SoSao]>=(1) AND [SSP_SoSao]<=(5)))
GO
ALTER TABLE [dbo].[tblSaoSanPham] CHECK CONSTRAINT [CK__tblSaoSan__SSP_S__5090EFD7]
GO
/****** Object:  StoredProcedure [dbo].[DM_tblDanhMuc_DeleteMultiple]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[DM_tblDanhMuc_DeleteMultiple]
	@Ids IdList readonly
as 
begin
	delete from tblDanhMuc where DM_Id in (select Id from @Ids)
end

GO
/****** Object:  StoredProcedure [dbo].[DM_tblDanhMuc_GetList]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[DM_tblDanhMuc_GetList]
as
begin
	select *,
		(select * from tblDanhMuc as DMCon where DMCon.DM_DMCha_Id = DMCha.DM_Id for json path) as DM_List_DMCon
	from tblDanhMuc as DMCha where DMCha.DM_LaDMCha = 1 for json path;
end

GO
/****** Object:  StoredProcedure [dbo].[DM_tblDanhMuc_GetOneById]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[DM_tblDanhMuc_GetOneById]
@id uniqueidentifier
as

begin
	select *,
		(select * from tblDanhMuc as DMCon where DMCon.DM_DMCha_Id = DMCha.DM_Id for json path) as DM_List_DMCon
	from tblDanhMuc as DMCha where DMCha.DM_Id = @id for json path;
end

GO
/****** Object:  StoredProcedure [dbo].[DM_tblDanhMuc_GetOneByName]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[DM_tblDanhMuc_GetOneByName]
@name nvarchar(500)
as

begin
	select *,
		(select * from tblDanhMuc as DMCon where DMCon.DM_DMCha_Id = DMCha.DM_Id for json path) as DM_List_DMCon
	from tblDanhMuc as DMCha where DMCha.DM_Name = @name for json path;
end

GO
/****** Object:  StoredProcedure [dbo].[DM_tblDanhMuc_Insert]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[DM_tblDanhMuc_Insert]
@name nvarchar(500),
@moTa nvarchar(max) null,
@nguoiTao_Id uniqueidentifier,
@laDMCha bit,
@dMChaId_Id uniqueidentifier null
as
begin
	if @laDMCha = 1
		begin
			if @dMChaId_Id IS NOT NULL
				begin
					raiserror('Danh mục cha không thể có danh mục cha', 16, 1);
					return;
				end
		end

	if @laDMCha = 0
		begin
			if @dMChaId_Id IS NULL
				begin
					raiserror('Danh mục con không thể không có danh mục cha', 16, 1);
					return;
				end
		end

	insert into [tblDanhMuc] (DM_Name, DM_MoTa, DM_NguoiTao_Id, DM_LaDMCha, DM_DMCha_Id)
		values (@name, @moTa, @nguoiTao_Id, @laDMCha, @dMChaId_Id);
end

GO
/****** Object:  StoredProcedure [dbo].[DM_tblDanhMuc_Update]    Script Date: 11/18/2025 3:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[DM_tblDanhMuc_Update]
@name nvarchar(500),
@moTa nvarchar(max) null,
@nguoiSuaId uniqueidentifier,
@ngaySua datetime2(7)
as 
begin
	update tblDanhMuc
	set DM_Name = @name, DM_MoTa = @moTa, DM_NgaySua = @ngaySua, DM_NguoiSua_Id = @nguoiSuaId
end
GO
USE [master]
GO
